.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.menuButton {
    flex-grow: 1;
}

.title {
    flex-grow: 5;
}

.mainFeaturePost {
    position: relative;
    color: aliceblue;
    margin-bottom: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainFeaturePostContent {
    position: relative;
    padding: 24px;
    margin-top: 64px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.cardMedia {
    padding-top: 40%;
}

.bottomGrid {
    margin-top: 32px;
}

.mainContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 94vh;
}

.rightSide {
    width: 80%;
    height: 100%;
    flex-grow: 0;
    border: 2px solid black;
    border-radius: 10px;
}

.leftSide {
    width: 19%;
    height: 100%;
}

.modeButtons {
    margin-top: 5px;
    justify-content: end;
    display: flex;
}

.filterMenu {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.editorMenu {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.analyzeContainer {
    display: flex;
}
